.rating {
    display: flex;
    flex-direction: row-reverse;
    width: 200px;
    padding-bottom: 1rem;
}

.rating>input {
    flex: 1 1 0%;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.rating>input::before {
    content: 'â­';
    filter: grayscale(100%) contrast(200%);
    font-size: 200%;
}

.rating>input:checked::before,
.rating>input:checked~input::before {
    filter: unset;
}
